<!DOCTYPE html>
<html>
  <head>
    <title>Python Encryption: Public Key</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperweb.space/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <a href="/">
        <h1>
        Python Encryption
      </h1>
      </a>
      <h2>
        Public Key
      </h2>
    </header>

    <main>
      <div id="generate-keys">
        <div id="choose-primes" class="generate-section">
          <h3>
            Choose two small prime numbers:
          </h3>
          
          <button id="submit-primes">
            Submit Primes!
          </button>
          
          <ul id="primes-under-50-list" class="number-list">
            <!--<li>3</li>-->
            <!--<li>5</li>-->
            <li>7</li>
            <li>11</li>
            <li>13</li>
            <li>17</li>
            <li>19</li>
            <li>23</li>
            <li>29</li>
            
            <!--<li>31</li>
            <li>37</li>
            <li>41</li>
            <li>43</li>
            <li>47</li>-->
          </ul>
          
        </div>
        <div id="choose-coprime" class="generate-section">
          <h3>
            Choose one of the coprimes of <span class="prime1-span"></span> and <span class="prime2-span"></span>:
          </h3>
          
          <button id="submit-coprime">
            Submit Coprime!
          </button>
          
          <ul id="coprime-list" class="number-list">
            
          </ul>
          
        </div>
        <div id="keys" class="generate-section">
          <h3>
            Keys:
          </h3>
          <p>
            <strong>Prime 1:</strong> <span class="prime1-span"></span>
          </p>
          <p>
            <strong>Prime 2:</strong> <span class="prime2-span"></span>
          </p>
          <p>
            <strong>Coprime:</strong> <span class="coprime-span"></span>
          </p>
          <h3>
            <strong>Public Keys:</strong> <span class="public-keys-span"></span>
          </h3>
          <h3>
            <strong>Private Keys:</strong> <span class="private-keys-span"></span>
          </h3>
          
        </div>
        <div id="error" class="generate-section">
          
        </div>
      </div>
      <form action="/public-key/encrypt">
        <label>Message to Encrypt:</label>
        <br>
        <textarea id="encrypt-message" name="message"></textarea>
        <br>
        <label>Key 1:</label>
        <input type="text" id="encrypt-public-key-1" name="public-key-1">
        <label>Key 2:</label>
        <input type="text" id="encrypt-public-key-2" name="public-key-2">
        <br>
        <button value="submit">Encrypt</button>
        
      </form>
      <br>
      <br>
      <form action="/public-key/decrypt">
        <label>Message to Decrypt:</label>
        <br>
        <textarea id="decrypt-message" name="message"></textarea>
        <br>
        <label>Key 1:</label>
        <input type="text" id="decrypt-private-key-1" name="private-key-1">
        <label>Key 2:</label>
        <input type="text" id="decrypt-private-key-2" name="private-key-2">
        <br>
        <button value="submit">Decrypt</button>
 
      </form>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/public-key.js"></script>
  </body>
</html>
