<!DOCTYPE html>
<html>
  <head>
    <title>Python Encryption: Shared Key</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperweb.space/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Python Encryption: Shared Key
      </h1>
    </header>

    <main>
      <form action="/shared-key/encrypt">
        <label>Message to Encrypt:</label>
        <br>
        <textarea id="encrypt-message" name="message"></textarea>
        <br>
        <label>Key:</label>
        <input type="text" id="encrypt-shared-key" name="key">
        <br>
        <button value="submit">Encrypt</button>
        
      </form>
      <br>
      <br>
      <form action="/shared-key/decrypt">
        <label>Message to Decrypt:</label>
        <br>
        <textarea id="decrypt-message" name="message"></textarea>
        <br>
        <label>Key:</label>
        <input type="text" id="decrypt-shared-key" name="key">
        <br>
        <button value="submit">Decrypt</button>
 
      </form>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
  </body>
</html>
