{% extends "layout.html" %}
{% block body %}

  <p>
    Use one of the four encryption techniques below to encrypt a secret message.
  </p>

  <hr>

  <div class="encryption-type">
    <h2 class="type-link">
      <a href="/simple-offset">➡️ Simple Offset Encryption ➡️</a>
    </h2>
    <p>
      Helps you generate an encrypt/decrypt key to encrypt messages by hand. <a href="/offset">Try it out!</a>
    </p>
  </div>
  
  <div class="encryption-type">
    <h2 class="type-link">
      <a href="/offset">➡️ Offset Encryption ➡️</a>
    </h2>
    <p>
      Encrypts your message using a simple offset on the <a href="https://en.wikipedia.org/wiki/ASCII">ASCII</a> code of each 
      character in your message. <a href="/offset">Try it out!</a>
    </p>
  </div>
  <div class="encryption-type">
    <h2 class="type-link">
      <a href="/shared-key">🤝 Shared Key Encryption 🤝</a>
    </h2>
    <p>
      Encrypts your message using a shared key phrase. The key generates different
      offsets that are used on the ASCII code of each character in your message. <a href="/shared-key">Try it out!</a>
    </p>
  </div>
  <div class="encryption-type">
    <h2 class="type-link">
      <a href="/public-key">📇 Public Key Encryption 📇</a>
    </h2>
    <p>
      Generate public and private keys, other people can use your public
      key to encrypt messages that you can decrypt with your private key. <a href="/public-key">Try it out!</a>
    </p>
  </div>


{% endblock %}