<!DOCTYPE html>
<html>
  <head>
    <title>Encryption with Mouse</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperweb.space/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="/jquery-3.2.1.min.js"></script>
  </head>
  <body>
      <a href="/">
        <h1>
          Encryption with Mouse
        </h1>
      </a>
    {% block menu %}{% endblock %}
    {% block body %}{% endblock %}

    <script src="/public-key.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
