<!DOCTYPE html>
<html>
  <head>
    <title>DIY Encryption</title>
    <meta name="description" content="A website for encrypting messages with different python algorithms.">
    <link id="favicon" rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    
    <!-- Social -->
    <meta property="og:title" content="DIY Encryption"/>
    <meta property="og:description" content="A website for encrypting messages with different python algorithms. Made by Patrick Weaver, patrickweaver.net" />
    <!-- Needs to be exactly a 2:1 ratio for Twitter, recommend 800 x 400 px -->
    <meta property="og:image" content="https://cdn.glitch.com/4028320f-a788-4451-8232-1f330e96ca4a%2FScreen%20Shot%202020-07-13%20at%2012.00.08%20PM.png?v=1594656018158" />
    
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@TWITTER_HANDLE" />
    <meta name="twitter:creator" content="@TWITTER_HANDLE" />
    <meta name="twitter:title" content="DIY Encryption" />
    <meta name="twitter:description" content="A website for encrypting messages with different python algorithms. Made by Patrick Weaver, patrickweaver.net" />
    <!-- Needs to be exactly a 2:1 ratio for Twitter, recommend 800 x 400 px -->
    <meta name="twitter:image" content="https://cdn.glitch.com/4028320f-a788-4451-8232-1f330e96ca4a%2FScreen%20Shot%202020-07-13%20at%2012.00.08%20PM.png?v=1594656018158" />
  </head>
  <body>
    <div id="container">
      
    
        
        <h2 id="main-header">
          <a href="/">
            DIY Encryption
          </a>
        </h2>
      {% block menu %}{% endblock %}
      {% block body %}{% endblock %}
    
    </div>
    
    <p>
      Made by <a href="https://patrickweaver.net" target="_blank">Patrick Weaver</a>
      <img src="https://pw-analytics.glitch.me/counter.png?fallback=diy-encryption-pw&color=black" alt="" style="vertical-align: bottom; height: 0px; width: 0px;" aria-hidden="true">
    </p>

    <script src="/script.js"></script>
  </body>
</html>
