<!DOCTYPE html>
<html>
  <head>
    <title>Encryption with Mouse</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/4028320f-a788-4451-8232-1f330e96ca4a%2Ffavicon.ico?1508968377213" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <meta hello="hi">
  </head>
  <body>
    <div id="container">
      
    
        
        <h2 id="main-header">
          <a href="/">
            Encrypt a Secret Message
          </a>
        </h2>
      {% block menu %}{% endblock %}
      {% block body %}{% endblock %}
    
    </div>

    <script src="/script.js"></script>
  </body>
</html>
