{% extends "layout.html" %}
{% block menu %} 
  <a href="/offset">
    <h2 class="type-header">
      ➡️ Offset Encryption ➡️
    </h2>
  </a>

    <ul id="function-list">
      <a href="/offset/encrypt">
        <li  class="{{ encrypt }}">
          <h3>
            🔒 Encrypt 🔒
          </h3>      
        </li>
      </a>
      <a href="/offset/decrypt">
        <li class="{{ decrypt }}">
          <h3>
            🔑 Decrypt 🔑
          </h3>
        </li> 
      </a>
      <a href="/offset/brute-force" >
        <li class="{{ brute_force }}">
          <h3>
            🛠 Brute Force Decrypt 🛠
          </h3>   
        </li> 
      </a>
    </ul>

{% endblock %}
{% block body %}
{% endblock %}
