{% extends "layout.html" %}
{% block body %}   

  <h2>
    Public Key: Decrypt
  </h2>

  <main>
    <div id="encryption">
      <div id="decrypt-form">
        <form action="/public-key/decrypt" method="post">
          <label>Message to Decrypt:</label>
          <br>
          <textarea id="decrypt-message" name="message"></textarea>
          <br>
          <label>Key 1:</label>
          <input type="text" id="decrypt-private-key-1" name="private-key-1">
          <label>Key 2:</label>
          <input type="text" id="decrypt-private-key-2" name="private-key-2">
          <br>
          <button value="submit">Decrypt</button>

        </form>
      </div>
    </div>
    <div id="explanation">
      {{ explanation }}
    </div>
    
  </main>
{% endblock %}