{% extends "layout.html" %}
{% block menu %}   
  <a href="/public-key">
    <h2 class="type-header">
      📇 Public Key Encryption 📇
    </h2>
  </a>

    <ul id="function-list">
      <a href="/public-key/generate-keys" >
        <li class="{{ generate_keys }}">
          <h2>
            🎲 Generate Keys 🎲
          </h2>   
        </li> 
      </a>
      <a href="/public-key/encrypt">
        <li  class="{{ encrypt }}">
          <h2>
            🔒 Encrypt 🔒
          </h2>      
        </li>
      </a>
      <a href="/public-key/decrypt">
        <li class="{{ decrypt }}">
          <h2>
            🔑 Decrypt 🔑
          </h2>
        </li> 
      </a>
      <a href="/public-key/brute-force" >
        <li class="{{ brute_force }}">
          <h2>
            🛠 Brute Force Decrypt 🛠
          </h2>   
        </li> 
      </a>
    </ul>

{% endblock %}
{% block body %}
{% endblock %}