{% extends "public-key.html" %}
{% block body %}   

  <div id="encryption">
    <div id="decrypt-form">
      <form action="/public-key/decrypt" method="post">
        <label>Message to Decrypt:</label>
        <br>
        <textarea id="decrypt-message" name="message"></textarea>
        <br>
        <label>Private Key 1:</label>
        <input type="text" id="decrypt-private-key-1" name="private-key-1">
        <label>Private Key 2:</label>
        <input type="text" id="decrypt-private-key-2" name="private-key-2">
        <br>
        <button value="submit">Decrypt</button>

      </form>
    </div>
  </div>
  <div id="explanation">
    {{ explanation }}
  </div>
    
{% endblock %}