{% extends "layout.html" %}
{% block body %} 

  <h2>
    Shared Key
  </h2>

  <main>
    <div id="encryption">
      <form action="/shared-key/encrypt">
        <label>Message to Encrypt:</label>
        <br>
        <textarea id="encrypt-message" name="message"></textarea>
        <br>
        <label>Key:</label>
        <input type="text" id="encrypt-shared-key" name="key">
        <br>
        <button value="submit">Encrypt</button>

      </form>
      <br>
      <br>
      <form action="/shared-key/decrypt">
        <label>Message to Decrypt:</label>
        <br>
        <textarea id="decrypt-message" name="message"></textarea>
        <br>
        <label>Key:</label>
        <input type="text" id="decrypt-shared-key" name="key">
        <br>
        <button value="submit">Decrypt</button>

      </form>
      <br>
      <br>
      <form action="/shared-key/brute-force">
        <label>Message to Decrypt:</label>
        <br>
        <textarea id="decrypt-message" name="message"></textarea>
        <br>
        <button value="submit">Brute Force Decrypt</button>

      </form>
    </div>
    <div id="explanation">
      {{ explanation }}
    </div>

  </main>

{% endblock %}