{% extends "shared-key.html" %}
{% block body %} 

  <h2 class="active-header">
    🤝🔑 Shared Key Decrypt 🔑🤝
  </h2>

  <div id="encryption">
    <div id="decrypt-form">
      <form action="/shared-key/decrypt" method="post">
        <label>Message to Decrypt:</label>
        <br>
        <textarea id="decrypt-message" name="message"></textarea>
        <br>
        <label>Key (lowercase a - z only):</label><br>
        <input type="text" class="shared-key" name="key1" maxlength="1" pattern="[a-z]{1}">
        <input type="text" class="shared-key" name="key2" maxlength="1" pattern="[a-z]{1}">
        <input type="text" class="shared-key" name="key3" maxlength="1" pattern="[a-z]{1}">
        <br>
        <button value="submit">Decrypt</button>
      </form>             
    </div>
  </div>
  <div id="explanation">
    {{ explanation }}
  </div>


{% endblock %}