{% extends "layout.html" %}
{% block body %} 
  <h2>
    Shared Key
  </h2>

  <main>
    <h3>
      Original Encrypted Message:
    </h3>
    <p id="encrypted-message">
      {{ message }}
    </p>
    <h3>
      Possible Decrypted Messages:
    </h3>
    <h4>
      {{ possible_decrypted_messages_length }} possible messages took {{ decrypt_time }} seconds to decrypt.
    </h4>
    <h4>
      Original message is probably offset {{ most_likely_offset }}:
    </h4>
    <p>
      {{  most_likely }}
    </p>
    
    <hr/>
    <ol>
    {% for possible_message in possible_decrypted_messages %}
      <li>
        <strong>Key: </strong>{{ possible_message["key"] }}
        <br>
        <strong>Message: </strong>{{ possible_message["message"] }}
        <br>
        <br>
      </li>
    {% endfor %}
    </ol>
    <br>
    
    <ol>
    {% for key in keys %}
      <li>
        {{ key }}
      </li>
    {% endfor %}
    </ol>
    
    
    <a href="/public-key">Back to Decrypt!</a>
  </main>
{% endblock %}

