{% extends "wide_layout.html" %}
{% block menu %}

<div id="device-size-warning">
  Try using this page in landscape mode on your device or on a device with a larger screen.
</div>

<p>
  Move the slider below to an offset number between 1 and 25. Then use the rings of letters below to encrypt your message.</p>
<p>
  To encrypt, set your chosen offset number, then find each letter of your message in the outer ring. The encrypted version of your message will contain the corresponding letter in the inner ring.
</p>
<p>
  To decrypt, set your chosen offset number, then find each letter of your encrypted message in the inner ring. The original version of your message will contain the corresonding letter in the outer ring.
</p>

<div id="slider-and-label-container">
  <h2>
    Offset: <span id="simple-offset-label">0</span>
  </h2>
  <h2 class="slider-label">
    <span class="slider-label-offset-number">&nbsp;0</span>
    <span class="slider-label-offset-number">&nbsp;1</span>
    <span class="slider-label-offset-number">&nbsp;2</span>
    <span class="slider-label-offset-number">&nbsp;3</span>
    <span class="slider-label-offset-number">&nbsp;4</span>
    <span class="slider-label-offset-number">&nbsp;5</span>
    <span class="slider-label-offset-number">&nbsp;6</span>
    <span class="slider-label-offset-number">&nbsp;7</span>
    <span class="slider-label-offset-number">&nbsp;8</span>
    <span class="slider-label-offset-number">&nbsp;9</span>
    <span class="slider-label-offset-number-2D">10</span>
    <span class="slider-label-offset-number-2D">11</span>
    <span class="slider-label-offset-number-2D">12</span>
    <span class="slider-label-offset-number-2D">13</span>
    <span class="slider-label-offset-number-2D">14</span>
    <span class="slider-label-offset-number-2D">15</span>
    <span class="slider-label-offset-number-2D">16</span>
    <span class="slider-label-offset-number-2D">17</span>
    <span class="slider-label-offset-number-2D">18</span>
    <span class="slider-label-offset-number-2D">19</span>
    <span class="slider-label-offset-number-2D">20</span>
    <span class="slider-label-offset-number-2D">21</span>
    <span class="slider-label-offset-number-2D">22</span>
    <span class="slider-label-offset-number-2D">23</span>
    <span class="slider-label-offset-number-2D">24</span>
    <span class="slider-label-offset-number-2D">25</span>
  </h2>
  <div class="slide-container">
    <input type="range" min="0" max="25" value="0" class="slider" id="offset-range">
  </div>
</div>

<div id="simple-offset-generator">
  <img id="decoder-outside" src="/images/decoder-outside.png">
  <img id="decoder-inside" src="/images/decoder-inside.png">
  
</div>

{% endblock %}