{% extends "wide_layout.html" %}
{% block menu %}


<h1>
  *** Coming Soon *** 
</h1>

<h2>
  Offset: <span id="simple-offset-label">0</span>
</h2>

<h2 class="slider-label">
  A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
</h2>
<div class="slidecontainer">
  <input type="range" min="0" max="25" value="0" class="slider" id="offset-range">
</div>

<div id="simple-offset-generator">
  <img id="decoder-outside" src="https://cdn.glitch.com/4028320f-a788-4451-8232-1f330e96ca4a%2FDecoderOutsideTransparent.png?v=1591129958080">
  <img id="decoder-inside" src="https://cdn.glitch.com/4028320f-a788-4451-8232-1f330e96ca4a%2FDecoderInsideTransparent.png?v=1591129958235">
  
  
  
  <!--
  <div id="ring">
    <span>A</span>
    <span>B</span>
    <span>C</span>
    <span>D</span>
    <span>E</span>
    <span>F</span>
    <span>G</span>
    <span>H</span>
    <span>I</span>
    <span>J</span>
    <span>K</span>
    <span>L</span>
    <span>M</span>
    <span>N</span>
    <span>O</span>
    <span>P</span>
    <span>Q</span>
    <span>R</span>
    <span>S</span>
    <span>T</span>
    <span>U</span>
    <span>V</span>
    <span>W</span>
    <span>X</span>
    <span>Y</span>
    <span>Z</span>
  </div>
  -->
  
</div>

{% endblock %}